.cartSection {
  background-color: #fff;
  overflow: auto;
  margin: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.emptyParagraph {
  font-size: 1.3rem;
  font-weight: 500;
}

/* SUMMARY  */

.summaryContainer {
  min-width: 400px;
  margin: 20px 20px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(226, 226, 226);
  overflow: hidden;
}

.summaryContainer h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--bright-green);
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.summaryContainer p {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 20px;
}

/* ITEMS CONTAINER  */
.itemsContainer {
  width: 100%;
}
