section {
    background-color: #fff;
    display: flex;
    align-items: center;
}

section img {
    max-width: 50%;
}

section .text {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

h2 {
    color: var(--deep-blue-green);
    font-weight: 100;
    font-size: 3rem;
}

.welcome {
    font-weight: 700;
    font-size: 5rem;
}

.intro {
    color: var(--bright-green);
}

.now {
    width: 30%;
    border: none;
    padding: 1rem 2rem;
    border-radius: 50px;
    color: white;
    background-color: var(--deep-blue-green);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}