main {
    background-color: #fff;
    margin: 10px 50px;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 2rem;
}

@media (max-width: 50em) {
    main {
        margin: 0;
    }
}