header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;

    background-color: #05678e;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 2rem;
}