header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;

    background-color: #05678e;
    color: white;
    width: 100%;
}

svg {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 2rem;
}

.cartCount {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    bottom: 12px;
    background-color: var(--dimmed-red);
    padding: 3px 8px;
    border-radius: 50%;
}

@media (max-width: 50em) {
    ul {
        display: none;
    }

    svg {
        display: block;
    }
}