header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;

    background-color: #05678e;
    color: white;
    width: 100%;
}

.menuToggle {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;

    display: flex;
    gap: 2rem;
}

.cartCount {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    bottom: 12px;
    background-color: var(--dimmed-red);
    padding: 3px 8px;
    border-radius: 50%;
}

@media (max-width: 50em) {
    header {
        padding: 1rem 2rem;
    }

    ul.desktopMenu {
        display: none;
    }

    .menuToggle {
        display: block;
        background-color: transparent;
        border: none;
    }

    .mobileMenu {
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        text-align: center;
        padding: 2rem 0;
        background-color: var(--deep-blue-green);
    }
}