.cartItem {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 2px solid rgb(204, 204, 204);
  padding-bottom: 20px;
  margin: 20px 0px;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cartItem img {
  max-width: 150px;
}

.cartItem .name {
  font-weight: 500;
  font-size: 1.2rem;
}

.price {
  font-size: 1.2rem;
}

/* BUTTONS */

.quantityControl {
  display: flex;
  gap: 5px;
}

.remove {
  background-color: rgb(184, 24, 24);
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.cartButton {
  border: 2px solid gray;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 8px 12px;
  border-radius: 10px;
  line-height: 1;
}

@media (max-width: 50em) {
  .cartItem {
    gap: 20px;
  }

  .cartItem img {
    max-height: 150px;
    max-width: 100px;
  }
}
